@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: var(--Violet);
}

.container {
  background-image: url("./images/bg-desktop.svg");
  background-size: 85%;
  background-position: 5% 45%;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: var(--Violet);
}

nav {
  padding: 30px 5%;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

#nav-links ul li {
  display: inline-block;
  margin: 20px;
  position: relative;
  transition: 0.3s ease-in-out;
}

#nav-links ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#nav-links ul li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 50%;
  background-color: var(--Soft-Magenta);
}

.logo {
  width: 180px;
}

#menuIcons {
  color: #fff;
  margin: 20px 0 20px;
  display: none;
}

#menuIcons i {
  font-size: 20px;
}

.row {
  display: flex;
  padding: 60px 5% 0;
}

.col2 {
  padding-left: 40px;
}

.title {
  margin-top: 40px;
  max-width: 400px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.col2 p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  max-width: 500px;
  margin-bottom: 20px;
  line-height: 25px;
}

button {
  padding: 15px 57px;
  border-radius: 25px;
  border: 0;
  outline: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  color: var(--Violet);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--Soft-Magenta);
  color: #fff;
}

.socialIcons {
  width: 100%;
  text-align: right;
  padding: 20px 5% 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.socialIcons span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.socialIcons span:hover {
  color: var(--Soft-Magenta);
  border-color: var(--Soft-Magenta);
}

@media (max-width: 375px) {
  .container {
    background-image: url(./images/bg-mobile.svg);
    background-size: 100%;
    background-position: 80% -2%;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--Violet);
  }

  .logo {
    width: 130px;
  }

  #menuIcons {
    display: block;
  }

  #nav-links {
    position: fixed;
    top: 100px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: var(--Violet);
    padding-top: 50px;
    transition: 0.4s;
  }

  #nav-links.sidebar {
    right: 0;
  }

  #nav-links ul li {
    display: block;
  }

  .hero-section {
    margin-top: 140px;
  }
  .row {
    flex-direction: column;
    padding-top: 20px;
  }

  .col1 {
    width: 100%;
    text-align: center;
  }

  .col1 img {
    width: 90%;
  }

  .col2 {
    width: 100%;
    padding: 0 5%;
    text-align: center;
  }

  .title {
    font-size: 20px;
    text-align: center;
    max-width: 250px;
    margin: 40px auto 20px;
  }

  .col2 p {
    font-size: 14px;
    max-width: 290px;
  }

  button {
    padding: 13px 80px;
  }

  .socialIcons {
    justify-content: center;
    margin: 10px auto;
    padding-bottom: 20px;
  }
}
